@CHARSET "UTF-8";

body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    color: black; 
    font-size: 120%;   
    alignment-adjust: central;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.main{
    background-color: white;
    display: inline-block;
    opacity: 0.8;
    border-style: solid;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: auto;

}

box {

}

#result {
    background-color: white;
    opacity: 0.8;
}

.picture {
    display: inline-block;
    width: 10em;
}

.description {
    display: inline-block;
}

img{
    max-width: 100%;
}

.model {
    border-width:1px;
    border-style:solid;
    border-color:blue;
}

.modelHeader {
    font-weight: bold;
}




.head {
    float: none;
    width: 100%;
    height: 5%;
    background-color: white;
    opacity: 0.8;
}

.header_left {
    width: 50%;
    float: right;
    background-color: white;
    opacity: 0.8;
    text-align: left;
}

.header_right {
    width: 50%;
    text-align: right;
    background-color: white;
    opacity: 0.8;
    float: right;
}


.footer {
    background-color: white;
    opacity: 0.8;
    text-align: center;
}

h1 {
    text-align: center;
}

.carAvailable {
    color: green;
}

.carNotAvailable {
    color: red;
}

.messages {
    color: red;
}

table{
    width: 100%;
    table-layout: auto;
}