@CHARSET "UTF-8";

body {
       background-image: url(../img/auto.jpg);
       background-attachment: fixed;
       background-size:100%; 
       color: black; 
       font-size:130%;   
       alignment-adjust: central;
       padding-left:20px;
       padding-right:20px;
       position:absolute;
      
}

#main{
    background-color: white;
    display: inline-block;
    opacity: 0.8;
    border-style: solid;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
    
    
    
    
    width:auto;
    
}

box {
    
}



